<!DOCTYPE html>
<html>
<head>
  <title>Streaming Video Recorder</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
        <h1>Streaming Video Recorder</h1>
        <form method="post" action="{{ url_for('tasks') }}">
        <input type="submit" value="Stop/Start" name="stop" />
        <input type="submit" value="emotion" name="face" />
			  <input type="submit" value="Start/Stop Recording" name="rec" />
			  </form>
        <script type="text/javascript" src="{{ url_for('static', filename='recorder.js') }}"></script>      
        <img src="{{ url_for('video_feed') }}" height="80%">
           </div>
    </div>
</div>
</body>
</html>